* {
	margin: 0;
	box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
	height: 100vh;
}

main {
	height: 100%;
	position: relative;
}

/* .cto {
	position: absolute;
	top: 30%;
	left: 30%;
} */

.cto {
    display:inline-block;
    background-color: #333;
    border-radius: 4px;
    color: #fff;
	position: relative;
}

.cto label {
    cursor: pointer;
    border-radius: inherit;
	anchor-name: --cto-label;
}

.cto label span {
    display: block;
    text-align:center;
    padding:6px 12px;
    border-radius: inherit;
}

.cto label input {
	position: absolute;
	top: -20px;
	display: none;
}

/* .cto input:hover + span {
    background-color:#efE0E0;
    color: #333;
}

.cto input:checked + span {
    background-color:#911;
    color:#fff;
}

.cto input:checked:hover + span {
    background-color:#c11;
    color:#fff;
} */

.cto .dialog-header {
	position: fixed;
	position-anchor: --cto-label;
	position-area: center span-right;
	position-try: flip-block, flip-inline, flip-block flip-inline;
	text-align: end;
	width: 20em;
	height: 100%;
    background-color: inherit;
	z-index: -1;
	padding: 6px 12px;

	overflow: hidden;

	transform: scalex(0);
	transform-origin: left;

	transition: transform 0.5s ease-out;
}

.cto .dialog-body {
	position: fixed;
	position-anchor: --cto-label;
	position-area: bottom span-right;
	position-try: flip-block, flip-inline, flip-block flip-inline;
	background-color: aquamarine;
	color: #333;
	aspect-ratio: 16/9;
	overflow: hidden;
	width: 20em;

	transform: scale(0);
	transform-origin: top left;
	
	transition: transform 0.5s ease-out;
}

.cto .dialog-text {
	padding: 6px 12px;
}

.cto label:has(input:checked) ~ .dialog-header {
	transform: scalex(1);
}

.cto label:has(input:checked) ~ .dialog-body {
	transform: scale(1);
}
