/* Fichier CSS principal */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    /* background-color: #dfd8cf; */
    background-color: black;
    color: #304143;
    line-height: 1.6;
}

p {
    font-size: 1.2rem;
}

main {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn {
	position: relative;
	width: 200px;
	aspect-ratio: 1/1;
	background-color: #dfd8cf;
	border-radius: 50%;
	border: 0;
	transition: all 0.3s ease-out;
	cursor: pointer;
}

.btn:hover {
	color: #dfd8cf;
	background-color: transparent;
	scale: 1.5;
}

.btn .text {
	font-size: 1.2rem;
}

.circle {
	position: absolute;
	width: 100%;
	aspect-ratio: 1/1;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	border: 1px solid #dfd8cf;
	border-radius: 50%;
}

.c1 {
	animation: circle-expand 2s infinite linear;
}

.c2 {
	animation: circle-expand 2s infinite 0.5s linear;
}

.c3 {
	animation: circle-expand 2s infinite 1s linear;
}

.c4 {
	animation: circle-expand 2s infinite 1.5s linear;
}

@keyframes circle-expand {
	0% {
		width: 100%;
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		width: 150%;
		opacity: 0;
	}
}