/* Fichier CSS principal */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	background-color: #e89d9d;
	color: #333;
	line-height: 1.6;
}

h1 {
	color: #3498db;
}

p {
	font-size: 1.2rem;
}

.container{
	background-color: #f5fcfc;
	display: flex;
	/* justify-content: space-around; */
	height: 200px;
	position: relative;
	align-items: center;
}

.container:hover{
	background-color: #333;
}

.container:hover p, button{
	color: rgb(245, 252, 252);
	fill: rgb(245, 252, 252);
}

.container:hover button{
	background-color:#f5fcfc;
	fill: #333;
}


.container p{
	position: absolute;
	font-size: 9rem;
	font-weight: bold;
	left: 10px;
}


.container button{
	position: absolute;
	background-color: #333;
	border: 0px;
	border-radius: 50%;
	right: 30px;
	width: 80px;
	padding: 20px;
}

.container:hover{

}
