<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Projet Web</title>
    <link rel="stylesheet" href="css/style.css"> <!-- Lien vers ton fichier CSS -->
</head>
<body>
    <main>
		<div class="container">
			<div class="card w-30"></div>
			<div class="card w-60"></div>
			<div class="card w-40"></div>
			<div class="card w-20"></div>
			<div class="card w-20"></div>
			<div class="card w-40"></div>
            <div class="card w-20"></div>
			<div class="card w-20"></div>
			<div class="card w-60"></div>
            <div class="card w-20"></div>
			<div class="card w-60"></div>
			<div class="card w-20"></div>
			<div class="card w-20"></div>
			<div class="card w-20"></div>
			<div class="card w-40"></div>
			<div class="card w-60"></div>
			<div class="card w-30"></div>
			<div class="card w-30"></div>
			<div class="card w-40"></div>
			<div class="card w-60"></div>
			<div class="card w-30"></div>
			<div class="card w-30"></div>
			<div class="card w-20"></div>
            <div class="card w-30"></div>
		</div>
    </main>

    <script src="js/script.js"></script> <!-- Lien vers ton fichier JS -->
</body>
</html>
